@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#00e5fe;
    --secundario: #15b8ca;
    --terciario: #00fefe;
    --black:#121f41;
    --light-color:#788E9C;
    --white: #fff;

    --borde: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

    --borde-claro: .1rem solid rgba(255, 255, 255, .1);
    --box-shadow-claro:0 .5rem .5rem rgba(255,255,255,.1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    padding-right: 0!important;
}

body.dark {
    background: rgb(14, 12, 12);
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    padding:2rem 8%;
    overflow: hidden!important;
}

.heading{
    text-align: center;
    padding-bottom: 3rem;
    margin-top: 5rem;
    font-size: 4.5rem;
    color: var(--black);
}

body.dark section .heading{
    color: var(--white);
}

/**botones**/

.custom-btn {
    text-align: center;
    justify-items: center;
    max-width: 18rem;
    height: 4rem;
    color: #fff;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,.0);
    padding:.8rem 2rem .2rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn {
    background: var(--green);
    color: var(--black);
    z-index: 1;
    font-size: 1.7rem;
    font-weight: 700;
}
.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--terciario);
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.6s ease;
}
.btn:hover {
}
.btn:hover:after {
    left: 0;
    width: 100%;
}
.btn:active {
    top: 2px;
}

.btn-codigo {
    max-width: 18rem;
    height: 4rem;
    border-radius: .5rem;
    border: 2px solid var(--black);
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
}

.btn-codigo:hover{
    background: var(--black);
    color: var(--white);
}

body.dark .btn-codigo {
    border: 2px solid var(--white);
    color: var(--white);
}

.cv{
    text-align: center;
    padding:.8rem 2rem .2rem 2rem;
    border: 2px solid var(--white);
    color: var(--white);
}

body.dark .btn-codigo:hover {
    background: var(--white);
    color: var(--black);
}


/********************** header **********************/

.site-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8% ;
}

body.dark .site-header {
    background: #111111;
}

.site-header .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.6rem;
    color: rgb(231, 13, 13);
}

.site-header .logo span {
    color: #000;
}

body.dark .navbar.activar {
    background-color: #111;
}

body.dark .logo span {
    color: var(--white);
}
.navbar{
    right: 4rem;
    position: relative;
}
.navbar a{
    font-size: 1.7rem;
    margin: 0 3rem 0 0;
    color: var(--black);
    position: relative;
}

.navbar a{
    font-size: 1.7rem;
    margin: 0 3rem 0 0;
    color: var(--black);
    position: relative;
}

#buttons{
    display: inline-block;
    position: fixed;
}

#buttons img{
    height: 2rem;
}

.navbar img{
    width: 30px;
    cursor: pointer;
}

.navbar a::before{
    content: "";
    height: 3px;
    width: 0;
    background: var(--green);
    position: absolute;
    left: 0;
    bottom: -1.2rem;
    transition: 0.4s ease-out;
}

.navbar a:hover::before{
    width: 100%;
}

body.dark .navbar a{
    color: var(--white);
}

.navbar .active-link::before,
.navbar a.active::before{
    content: "";
    height: 3px;
    width: 100%;
    background: var(--secundario);
    position: absolute;
    left: 0;
    bottom: -1.2rem;
    transition: 0.4s ease-out;
}

body.dark .navbar a.active::before,
body.dark .navbar .active-link::before {
    background: var(--green);
}

.switch {
    background: #343d5b;
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    width: 60px;
    margin-top: .1rem;
    margin-bottom: .5rem;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}


.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: #fff;
    padding: 0 0 0 9px;
    font-size: 1.5rem;
}

#acceder-btn .btn{
    margin-top: 0;
}

#acceder-btn i{
    display: none;
    font-size: 2.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.site-header.activar{
    box-shadow: var(--box-shadow);
}

#menu-btn{
    font-size: 2rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}


/********************** Inicio **********************/

.contenido {
    background: url(../img/inicio.png);
    min-height: 690px;
    background-position: center center;
	background-size: cover;
}

.inicio{
    display: flex;
}

.inicio .titulo{
    margin: 27rem auto 0 auto;
    text-align: center;
}

.inicio .titulo p {
    font-size: 4rem;
    color: var(--white);
}

.inicio .titulo h1{
    font-size: 4.5rem;
    color: var(--green)
}


/********************** Sobre Mi **********************/

section .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
}

section .row .columns{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border: var(--borde);
    border-radius: .5rem;
}

#sobre-mi .row{
    overflow-x: hidden!important;
}

body.dark section .row .columns {
    background: rgb(14, 12, 12);
    color: var(--light-color);
}

section .row .columns h3{
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: 2rem;
}

body.dark section .row .columns h3{
    color: var(--green);
}

section .row .columns h4{
    font-size: 2.7rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-transform: none;
}

body.dark section .row .columns h4, 
body.dark section .row .columns ul li p span{
    color: var(--white);
}

section .row .columns p{
    font-size: 1.7rem;
    line-height: 2;
    margin-bottom: 2rem;
    text-transform: none;
}

section .row .columns ul li{
    list-style:none;
}

section .row .columns ul li p span{
    font-weight: bold;
    color: var(--black);
}

section .row .columns .mas-info{
    display: flex;
    flex-direction: column;
}

section .row .columns a{
    margin: 2rem 1rem 1rem 0;
}

section .row .col-skill h4{
    font-size: 2.7rem;
    color: var(--black);
    margin-bottom: 2.5rem;
}

.skill{
    display: flex;
    flex-wrap: wrap;
}

.skill h5{
    background: var(--black);
    text-align: center;
    border-radius: .5rem;
    padding: .5rem 0;
    font-size: 1.1rem;
    width: 10rem;
    margin: 0 1.5rem;
    transform: translate(0px, -75px);
    opacity: 0;
    transition: .5s ease all;
    color: var(--white);
}

body.dark .skill h5{
    background: var(--white);
    color: #000;
}

.skill>div:hover h5 {
    transform: translate(0px, -110px);
    opacity: 1;
}

.icons-skils {
    width: 7rem;
    height: 7rem;
    margin: .7rem 3rem;
}

section .row .columns .skill img:hover {
    transform: scale(1.2);
}

body.dark main section .row .columns .skill img {
    filter: grayscale(100%);
}

body.dark main section .row .columns .skill img:hover {
    filter: grayscale(0);
}


/********************** Servicios **********************/

#servicios .row{
    text-align: center;
}

#servicios .row .columns{
    box-shadow: var(--box-shadow);
    border: var(--borde);
    border-bottom: 1rem solid var(--white);
    margin: 0.5rem;
}

#servicios .row .columns:hover{
    background: var(--black);
    color: var(--light-color);
    border-bottom: 1rem solid var(--black);
}

body.dark #servicios .row .columns{
    background: #111;
    border-bottom: 1rem solid #111;
    color: var(--light-color);
}

body.dark #servicios .row .columns:hover{
    border-bottom: 1rem solid var(--green);
}

#servicios .row i{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--black);
}

#servicios .row .columns:hover i{
    color: var(--light-color);
}

body.dark #servicios .row i{
    color: var(--light-color);
}

body.dark #servicios .row .columns:hover i{
    color: var(--green);
}

body.dark #servicios .row h3{
    color: var(--white);
}

#servicios .row .columns:hover h3{
    color: var(--white);
}


/********************** Proyectos **********************/

#proyectos .proyect-site{
    overflow-x: hidden!important;
}

.proyectos .proyectos-slider{
    padding-bottom: 5rem;
}

.proyectos .proyectos-slider .caja{
    text-align: center;
    width: 30rem;
}

.proyectos .proyectos-slider .caja img{
    width: 100%;
    opacity: .5;
    transform: scale(.8);
}

.proyectos .proyectos-slider .caja .content{
    transform: scale(0);
    padding-top: 1rem;
    text-transform: none!important;
}

.proyectos .proyectos-slider .swiper-slide-active img{
    opacity: 1;
    transform: scale(1);
}

.proyectos .proyectos-slider .swiper-slide-active .content{
    transform: scale(1);
}

.proyectos .proyectos-slider .caja .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

body.dark .proyectos .proyectos-slider .caja .content h3{
    color: var(--white);
}

.proyectos .proyectos-slider .caja .content p{
    font-size: 1.6rem;;
    padding-top: 1.5rem;
    color: var(--light-color);
    text-transform: none!important;
}

.proyectos .proyectos-slider .caja .content p span{
    color: var(--black);
    font-size: 2.4rem;
    font-weight: bold;
}

.proyectos .proyectos-slider .caja .content a{
    margin: .5rem;
}

.proyectos .proyectos-slider .caja .content .tecnologias{
    margin-bottom: 2rem;
}

body.dark .proyectos .proyectos-slider .caja .content p span{
    color: var(--white);
}

body.dark .proyectos .swiper .swiper-pagination-bullets .swiper-pagination-bullet{
    background:var(--white);
}

.swiper-pagination-bullet-active{
    background:var(--black);
}

.portafolio-btn{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}


/********************** Contactos **********************/

.contactos{
    margin-top: 3rem;
}

.contactos .titulo {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 4rem;
    color: var(--light-color);
    text-transform: none;
}

body.dark .contactos .titulo{
    color: var(--white);
}

.contactos .site-contacto{
    font-weight: bold;
    color: var(--black);
    font-style: normal;
    font-size: 2.3rem;
}

body.dark .contactos .site-contacto{
    color: var(--green);
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6rem 0;
}
.icons a{
    margin: 5rem 3rem;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}
.icons a .layer{
    width: 7rem;
    height: 7rem;
    transition: transform 0.3s;
}
.icons a:hover .layer{
    transform: rotate(-35deg) skew(20deg);
}
.icons a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}
.icons a .layer span.fab{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    line-height: 55px;
}
.icons a:hover .layer span:nth-child(1){
    opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5){
    opacity: 1;
    transform: translate(20px, -20px);
}
.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text{
    color: #ff0000;
    border-color: #ff0000;
}
.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text{
    color: #4fc35b;
    border-color: #4fc35b;
}
.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text{
    color: #E1306C;
    border-color: #E1306C;
}
.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text{
    color: #1DA1F2;
    border-color: #1DA1F2;
}
.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text{
    color: #2867B2;
    border-color: #2867B2;
}
.icons a:nth-child(6) .layer span,
.icons a:nth-child(6) .text{
    color: #000;
    border-color: #000;
}
body.dark .icons a:nth-child(6) .layer span,
body.dark .icons a:nth-child(6) .text{
    color: #fff;
    border-color: #fff;
}
.icons a:hover:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #ff0000;
}
.icons a:hover:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px #4fc35b;
}
.icons a:hover:nth-child(3) .layer span{
    box-shadow: -1px 1px 3px #E1306C;
}
.icons a:hover:nth-child(4) .layer span{
    box-shadow: -1px 1px 3px #1DA1F2;
}
.icons a:hover:nth-child(5) .layer span{
    box-shadow: -1px 1px 3px #4267B2;
}
.icons a .text{
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-size: 2rem;
    font-weight: 600;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icons a:hover .text{
    bottom: -35px;
    opacity: 1;
}

/********************** Boton up **********************/

.cm-up {
	display: none;
	position: fixed;
	background: var(--light-color);
	border-radius: 50%;
	bottom: 50px;
	right: 30px;
	cursor: pointer;
}

.cm-up .cm-icon {
	background: var(--black);
	color: var(--white);
	font-size: 20px;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s
}

body.dark .cm-up .cm-icon {
    background: var(--white);
	color: var(--black);
}

.cm-up:hover {
	transform: scale(1.1);
}


/********************** Footer **********************/

.footer {
    border-top: 3px solid #f1f1f1ee;
    box-shadow: var(--box-shadow);
    padding: 2rem 8% ;
}

body.dark .footer {
    background: #111;
    margin: 0;
    border-top: 3px solid #111;
}

.site-footer {
    display: flex;
    justify-content: space-between;
}

.site-footer .copyright{
    font-size: 1.5rem;
    padding: 2rem 0;
}

.site-footer .redes-sociales{
    padding: 2rem 0;
}

.site-footer .redes-sociales a{
    font-size: 3rem;
    padding-left: 4rem;
    color: var(--black);
}


body.dark .footer .site-footer .copyright{
    color: var(--white);
}

body.dark .footer .site-footer .redes-sociales a{
    color: var(--white);
}


/********************** Sobre-mi-seccion **********************/

.sobre-mi-seccion{
    width: 100%;
    padding-top: 7rem;
    position: relative;
    top: 0;
    transition: 1s;
    margin-bottom: 2rem;
    overflow: hidden!important;
}

.sobre-mi-container {
    display: grid;
    grid-template-columns: 30% 68%;
    grid-gap: 2rem;
}

.sobre-mi-img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.sobre-mi-info p{
    color: #000;
    font-size: 1.7rem;
    line-height: 2;
    text-transform: none;
    padding-bottom: 1rem;
}

.sobre-mi-info .btn-info {
    display: none;
}

body.dark .sobre-mi-info p{
    color: var(--light-color);
}

.sobre-mi-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 2rem;
}

.cv {
    position: absolute;
    margin-bottom: 2rem;
}

.cv:hover{
    background: var(--white);
    color: var(--black);
}


/********************** Skill seccion **********************/

.skill-container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
}

.skills-img {
    display: block;
    margin: 0 auto;
    height: 15rem;
}

body.dark .skills-img{
    filter: grayscale(100%);
}

body.dark .skill-card:hover .skills-img{
    filter: grayscale(0%);
}

.skill-name{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0 2rem;
    color: var(--black);
}

body.dark .skill-name{
    color: var(--white);
}

.skill-info{
    text-align: center;
    color: #000;
    font-size: 1.7rem;
    line-height: 2;
    text-transform: none;
}

body.dark .skill-info{
    color: var(--light-color);
}


/********************** Proyectos site **********************/

.mas-proyect{
    margin-top: 8rem;
}

.nav-proj {
    display: flex;
    justify-content: center;
    right: 0;
}


.nav-proj a{
    margin:0 2rem ;
}
.projects__grid {
	display: grid;
	grid-template-areas: 
	"img-1 	img-1	img-1	img-2   img-2	img-2"
	"img-3	img-3	img-4	img-4   img-5	img-5"
    "img-6	img-6	img-7	img-7   img-8	img-8"
    "img-9	img-9	img-10	img-10  img-11	img-11"
    "img-12	img-12	img-13	img-13  img-14	img-14";
	gap: 10px;
    margin-top: 6rem;
}

.proyecto-none{
    display: none;
}

.projects__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.projects__item:nth-of-type(1) {
	grid-area: img-1;
}
.projects__item:nth-of-type(2) {
	grid-area: img-2;
}

.projects__item:nth-of-type(3) {
	grid-area: img-3;
}

.projects__item:nth-of-type(4) {
	grid-area: img-4;
}

.projects__item:nth-of-type(5) {
	grid-area: img-5;
}

.projects__item:nth-of-type(6) {
	grid-area: img-6;
}

.projects__item:nth-of-type(7) {
	grid-area: img-7;
}

.projects__item:nth-of-type(8) {
	grid-area: img-8;
}

.projects__item:nth-of-type(9) {
	grid-area: img-9;
}

.projects__item:nth-of-type(10) {
	grid-area: img-10;
}

.projects__item:nth-of-type(11) {
	grid-area: img-11;
}

.projects__item:nth-of-type(12) {
	grid-area: img-12;
}

.projects__item:nth-of-type(13) {
	grid-area: img-13;
}

.projects__item:nth-of-type(14) {
	grid-area: img-14;
}

.mas-proyect .btn-info{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/********************** Modal **********************/

.eins-modal{
    padding: 4rem!important;
}

body.dark .eins-modal-content{
    background: #111111;
    color: var(--light-color);
}

.eins-modal-content {
    max-width: 700px;
}
.eins-modal-preview {
    max-width: 350px;
    width: 90%;
    margin: 0 auto;
}
.eins-modal-preview img {
    width: 100%;
    border-radius: 1rem;
}

.pw-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,auto));
    gap: 2rem;
}
.eins-modal-text p {
    font-size: 1.7rem;
}

.eins-modal-text-2 {
    padding: 5rem 0 2rem;
    font-size: 1.7rem;
}

.eins-modal-text-2 a {
    color:var(--secundario);
}

.eins-modal-tec img {
    width: 3rem;
    height: 3rem;
    margin: 1rem 2rem 1rem 0;
}

.eins-modal-text p{
    padding: .5rem 0;
    text-transform: none;
}

.eins-modal-text-3 img:hover{
    transform: scale(1.1);
}

.eins-modal-text-2,
.eins-modal-text-3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--black);
}

body.dark .eins-modal-text-2,
body.dark .eins-modal-text-3 {
    color: var(--white);
}



/********************** Loanding **********************/

.loading-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-container.active{
    display: none;
}

.loading-container img{
    height:20rem;
}

.js-none{
    display: none;
}



/********************** Media Q **********************/

@media (max-width: 990px) {
    html{
        font-size: 55%;
    }

    .switch::after {
        width: 28px;
        height: 28px;
        top: 0rem;
    }

    .skill h5{
        margin: 0 0.5rem;
    }

    .icons-skils {
        margin: 1.5rem 2rem;
    }

    .sobre-mi-container {
        grid-template-columns: 50% 50%;
    }

    .skill-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 7rem;
    }

    .icons a .layer span.fab{
        padding-top: 0;
    }
}



@media (max-width: 760px) {

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-bars{
        padding: 7px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .site-header .logo {
        padding-left: 2rem;
    }

    .site-header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: var(--borde);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .site-header .navbar.activar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .site-header .navbar a,
    .site-header .navbar #buttons{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }

    .navbar a:hover{
        color: var(--secundario)!important;
    }

    .navbar a::before{
        content: none;
    }

    .navbar .active-link::before,
    .navbar a.active::before,
    .navbar .active-link:hover:before{
        width: 78px;
    }

    .mas-proyect .navbar .active-link::before,
    .mas-proyect .navbar a.active::before,
    .mas-proyect .navbar .active-link:hover:before{
        width: 100%;
    }

    #buttons{
        position: relative;
    }

    #buttons img{
        position: relative;
        margin-right: 2rem;
        height: 2.5rem;
    }

    .switch {
        width: 50px;
        height: 22px;
    }
    
    .switch::after {
        width: 22px;
        height: 22px;
        top: 0;
    }

    .switch span {
        width: 3rem;
        height: 3rem;
        line-height: 2.7rem;
        padding: 0 0 0 4px;
        font-size: 1.5rem;
    }

    .contenido {
        min-height: 600px;
    }

    .inicio .titulo p {
        font-size: 3.5rem;
    }
    
    .inicio .titulo h1{
        font-size: 4rem;
    }

    .icons-skils {
        width: 6rem;
        height: 6rem;
        margin: 1.7rem 3rem;
    }

    section .row .col-skill h4{
        margin-bottom: 3.5rem;
    }
    
    .skill h5{
        margin: 0 0.7rem;
        font-size: 1.3rem;
        font-weight: bold;
        transform: translate(0px, -110px);
        opacity: 1;
    }
    
    .skill>div:hover h5 {
        transform: translate(0px, -110px);
    }
    
    section .row .columns .skill img:hover {
        transform: scale(1);
    }

    .skill{
        justify-content: center;
    }

    section .row .columns{
        text-align: center;
    }

    section .row .columns .mas-info{
        flex-direction: row;
        justify-content: center;
    }

    #servicios .row .columns{
        margin-left: 0;
    }

    .sobre-mi-container {
        display: flex;
        flex-direction: column;
    }
    
    .site-header{
        padding: 1rem 8% ;
    }

    .icons a .text{
        bottom: -35px;
        opacity: 1;
    }

    .eins-modal-preview {
        max-width: 200px;
        width: 70%;
    }

    .eins-modal-text p {
        font-size: 1.5rem;
    }

    .eins-modal-text-2 {
        padding: 2rem 0 2rem;
        font-size: 1.5rem;
    }

    .eins-modal-text-2,
    .eins-modal-text-3 {
        font-size: 1.5rem;
    }

    .eins-modal-close{
        font-size: 1.5rem;
        width: 1.5rem;
    }
}


@media (max-width: 570px) {
    html{
        font-size: 50%;
    }

    .site-header{
        padding: .4rem 5% ;
    }

    main {
        padding:2rem 5%;
    }


    .switch {
        width: 40px;
        height: 21px;
    }

    .switch::after {
        width: 21px;
        height: 21px;
        top: 0;
    }

    .switch span {
        line-height: 2.7rem;
        padding: 0.4px 0 0 4px;
    }

    .icons-skils {
        margin: 1.3rem 2rem;
    }

    .footer{
        padding: .4rem 5% ;
    }

    .site-footer .copyright p{
        font-size: 1.2rem;
    }

    .site-footer .redes-sociales a{
        font-size: 2.5rem;
        padding-left: 2rem;
        color: var(--black);
    }
    
    .cm-up .cm-icon {
        font-size: 15px;
        width: 35px;
        height: 35px;
    }

    .skill-container{
        grid-gap: 7rem;
    }
    .skill h5{
        background-color: var(--white);
        color: #000;
        font-size: 1.5rem;
        font-weight: bold;
        transform: translate(0px, -90px);
    }

    body.dark .skill h5{
        background-color: rgb(14, 12, 12);
        color: #fff;
    }

    .skill>div:hover h5 {
        transform: translate(0px, -90px);
    }

    .sobre-mi-info .btn-info {
        display: flex;
        justify-content: center;
    }

    .sobre-mi-info .hide {
        display: none;
    }

    .sobre-mi-info .show {
        display: block;
    }

    .skills-img {
        height: 13rem;
    }

    .skill-name{
        margin-top: 1rem;
    }

    .projects__grid {
		grid-template-areas: 
		"img-1 img-1"
		"img-2 img-2"
		"img-3 img-4"
		"img-5 img-6"
		"img-7 img-8"
        "img-9 img-10"
        "img-12 img-11"
        "img-13 img-14";
	}

    .projects__item img{
        height:150px;
    }
}

@media (max-width: 450px) {
    .contenido {
        min-height: 500px;
    }

    .inicio .titulo p {
        font-size: 3rem;
    }
    
    .inicio .titulo h1{
        font-size: 3.5rem;
    }

    .skill-container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
    }

    .skill h5{
        width: 7rem;
        margin-left: 1.7rem;
    }

    .icons a{
        margin: 5rem 2rem;
    }

    .eins-modal{
        padding: 2rem!important;
    }
    .eins-modal-content{
        padding: 1rem!important;
    }
}